@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

}

    <header>
        <section class="nav-section">
            <div class="container-fluid p-0 d-flex">
                <div class="col-md-2 justify-content-end">
                    <a href="/"><img class="header-logo" src="~/static/logotypes/Logotype.svg" alt="logo"></img></a>
                </div>
                <div class="col-md-10">
                    <nav>
                        <div class="row first-row">
                            <div class="col-12 col-md-10 company-info d-flex">
                                <span class="borderclass"><i class="fa-regular fa-phone-volume"></i>+46 (8) 121 470
                                    50</span>
                                <span class="borderclass"><i class="fa-regular fa-envelope"></i>info@crito.com</span>
                                <span><i class="fa-sharp fa-regular fa-location-dot"></i>Sveavägen 31, 111 34
                                    Stockholm</span>
                            </div>
                            <div class="col-12 col-md-2 social-media">
                                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" target="_blank"></i></a>
                                <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter" target="_blank"></i></a>
                                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" target="_blank"></i></a>
                                <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
                            </div>
                        </div>
                        <div class="row second-row">
                            <div class="col-8 col-md-10 navbar">
                                <a href="@site.Url()" class="@(Model.Id == site.Id ? "active" : null)">@site.Name</a>
                                @if (selection?.Length > 0)
                                {
                                        @foreach (var item in selection)
                                        {
                                            <a href="@item.Url(PublishedUrlProvider)" class="@(item.IsAncestorOrSelf(Model) ? "active" : null)">@item.Name</a>
                                            
                                        }
                                }
                            </div>
                            <div class="col-4 col-md-2 button-container">
                                <a href="/login" class="btn-theme">Login <i
                                        class="fa-solid fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </header>