@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models

 <section class="services-section">

        <div class="container services-container">
            <div class="row">
                <p class="services-small-heading">@Model.Value("consultingServicesTitle")</p>
            </div>
            <div class="row">
                <h2 class="services-heading">@Model.Value("consultingServicesHeading")</h2>
                
            </div>
            <div class="row boxes-row">
               @Html.GetBlockListHtml(Model.ConsultingServices)
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <a href="@Model.Value("consultingServicesButtonUrl")" class="btn-transparent">@Model.Value("consultingServicesButtonText") <i class="fa fa-arrow-up-right"></i></a>
            </div>


        </div>

    </section>

    <!-- Services section end -->